a:link{color:#ffffff;}
a:visited{color:#ffffff;}
a:hover	{color:#c8c8c8;}
a:active{color:#ffffff;}
.projecttitle{color:#000000;}
.otislink{color:#fe231e;}
.watsonlink{color:#2b9395;}
.contactlink{color:#2b9395;}
.homelink{color:#000000;}
.contactcallout{font-size:30;color:#2b9395;text-align:justify;}
